vsc-extension-quickstart.md
.gitignore
node_modules
package-lock.json
out
work-progress-*.vsix
release
.vscode
.vscode/**
.vscode-test/**
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map

.vscode-test
**.vsix
.vscode-test/**
