{
  "branches": ["master"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": ["my-extension.vsix"]
      }
    ]
  ],
  "prepare": [
    {
      "path": "@semantic-release/exec",
      "cmd": "npm version ${nextRelease.version} --no-git-tag-version"
    }
  ]
}