{
  "branches": ["master"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    {
      "path": "@semantic-release/exec",
      "cmd": "node scripts/set-version.js ${nextRelease.version}"
    },
    [
      "@semantic-release/github",
      {
        "assets": ["my-extension.vsix"]
      }
    ]
  ]
}